.movies-card-list {
    width: calc(100% - 20px);
    max-width: 600px;
    margin: auto;
}

.movies-card-list__grid {
    margin: 40px auto 13px;
    display: grid;
    grid-template-columns: minmax(300px, 339px);
    row-gap: 36px;
    justify-content: center;
}

.movies-card-list__button {
    width: 100%;
    height: 36px;
    color: #fff;
    margin: 50px auto 80px;
    background: #2F2F2F;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
}

.movies-card-list__button:hover {
    opacity: .8;
    transition: opacity linear 0.3s;
}

@media screen and (min-width: 660px) {
    .movies-card-list {
        width: calc(100% - 60px);
        max-width: 1140px;
    }

    .movies-card-list__grid {
        margin: 70px auto 10px;
        grid-template-columns: repeat(auto-fill, 339px);
        gap: 45px 30px;
    }
}

@media screen and (min-width: 1024px) {
    .movies-card-list__grid {
        margin: 70px auto 26px;
        grid-template-columns: repeat(auto-fill, 360px);
        gap: 58px 30px;
    }
}
