.promo {
    width: 100%;
    height: 570px;
    background-color: #073042;
    background-image: url('../../images/main-promo.svg');
    background-repeat: no-repeat;
    background-size: 77.5%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo__titile {
    margin: 0;
    padding: 0 10px;
    font-weight: 400;
    font-size: 31px;
    line-height: 1.25;
    text-align: center;
    width: fit-content;
    max-width: 730px;
}



@media screen and (min-width: 410px) {
    .promo {
        background-size: 320px;
        height: 670px;
    }
}

@media screen and (min-width: 660px) {
    .promo {
        height: 784px;
    }

    .promo__titile {
        padding: 0 19px;
        font-size: 50px;
        line-height: 1.15;
    }
}


@media screen and (min-width: 1024px) {
    .promo {
        height: 524px;
    }
}