.not-found__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not-found__404 {
    font-weight: normal;
    font-size: 140px;
    line-height: 1.2;
    margin: 246px 0 5px;
}

.not-found__message {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
}

.not-found__button-back {
    color: #4285F4;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    margin: 184px 0 0;
}

.not-found__button-back:hover {
    opacity: .6;
    transition: opacity linear 0.3s;
}