.popup {
    display: flex;
    opacity: 1;
    transition: all .4s;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    animation: move 1s;
    z-index: 11;
}

@keyframes move {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.popup__container {
    width: 100%;
    max-width: 520px;
    height: 100%;
    max-height: 1024px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
}

.popup__close {
    background-image: url(../../images/plus.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    width: 22px;
    height: 22px;
    cursor: pointer;
    transform: rotate(-45deg);
    position: absolute;
    top: 13.44px;
    right: 13.44px;
}

.popup__close:hover {
    opacity: .6;
    transition: opacity linear 0.3s;
}

@media screen and (min-width: 520px) {
    .popup__container {
        top: -41px;
        right: -7px;
    }

    .popup__close {
        top: 54.44px;
        right: 20.44px;
    }
}

@media screen and (min-width: 780px) {
    .popup {
        display: none;
    }
}