.info-tooltip__container {
    position: relative;
    width: calc(100% - 40px);
    max-width: 320px;
    height: 250px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.info-tooltip__image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.info-tooltip__notification {
    color: black;
    margin: 0 10px;
    max-width: 358px;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}