@keyframes preloader {
    0% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 1;
        border: #afafaf 26px solid;
    }
    100% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: .3;
        border: #afafaf 1px solid;
    }
}

.preloader {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
    z-index: 33;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
}

.preloader__container {
    width: 100px;
    height: 100px;
    position: relative;
}

.preloader__round {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    box-sizing: border-box;
    animation: preloader 1.2s ease-in-out infinite;
}

