.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 14px;
    box-sizing: border-box;
}

.header__type_color {
    background-color: #073042;
}

/* логотип */
.header__logo:hover {
    opacity: .6;
    transition: opacity linear 0.3s;
    cursor: pointer;
}

/* ссылки на signup - signin */
.header__nav-container {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header__link_word {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.6;
    margin: 0 14px 0 0;
}

.header__link_word:hover {
    opacity: .6;
    transition: opacity linear 0.3s;
}

.header__link_button {
    width: 54px;
    height: 26px;
    margin: 0;
    padding: 5px 0;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.6;
    color: #000;
    text-decoration: none;
    background: #3DDC84;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
}

.header__link_button:hover {
    opacity: .6;
    transition: opacity linear 0.3s;
}

/* значек меню */
.header__nav-icon {
    margin: 0;
    width: 40px;
    height: 43px;
    cursor: pointer;
}

.header__nav-icon:hover {
    opacity: .6;
    transition: opacity linear 0.3s;
}

@media screen and (min-width: 520px) {
    .header {
        padding: 15px 30px;
    }

    .header__link_word {
        font-size: 12px;
        line-height: 1.3;
        margin: 0 30px 0 0;
    }
    
    .header__link_button {
        width: 76px;
        height: 32px;
        font-size: 12px;
        line-height: 1.3;
        padding: 8px 0;
    }

    .header__nav-icon {
        width: 44px;
        height: 44px;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        padding: 18px 70px;
    }
}
