.techs {
    width: 100%;
    max-width: 1280px;
    padding: 70px 18px;
    background-color: #272727;
    box-sizing: border-box;
}

.techs__wrap {
    margin: auto;
    width: 100%;
    max-width: 560px;
}

.techs__title {
    width: 100%;
    max-width: 1140px;
    border-bottom: 1px solid #DADADA;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -.04em;
    margin: 0 auto;
    padding: 0 0 28px 0;
}

.techs__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -.04em;
    margin: 64px auto 24px;
}

.techs__text {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: -.04em;
    max-width: 460px;
    margin: 0 auto;
}

.techs__container {
    margin: 50px auto 0;
    width: 90%;
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 84px);
    gap: 10px;
    justify-content: center;
}

.techs__tech-icon {
    width: 100%;
    padding: 21px 0;
    text-align: center;
    background-color: #303030;
    border-radius: 10px;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: -0.04em;
}


@media screen and (min-width: 660px) {
    .techs {
        padding: 90px 50px;
    }

    .techs__wrap {
        max-width: 1140px;
    }

    .techs__title {
        font-size: 22px;
        padding: 0 0 23px 0;
    }

    .techs__subtitle {
        font-size: 50px;
        margin: 80px auto 22px;
    }

    .techs__text {
        font-size: 12px;
    }

    .techs__container {
        margin: 83px auto 0;
        width: 100%;
    }
}


@media screen and (min-width: 1024px) {
    .techs {
        padding: 100px 50px;
    }

    .techs__subtitle {
        margin: 90px auto 26px;
    }

    .techs__text {
        font-size: 14px;
    }

    .techs__container {
        margin: 100px auto 0;
        grid-template-columns: repeat(auto-fit, 90px);
    }

    .techs__tech-icon {
        font-size: 14px;
        line-height: 1.3;
    }
}
